@import "variables";

/**{
  color:#fff;
}*/

.content{
  width: 100vw;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  //background-color: #282828;
  app-header{
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
  }

  app-test{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    min-width: 100%;
    //min-height: 2000px;
    display: block;
    box-sizing: border-box;
  }
}

