@import "variables";

/**{
  color:#fff;
}*/

.content{
  width: 100vw;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  //background-color: #282828;
  app-header{
    width: 100%;
  }
}

