$header-height: 206px;
$left-nav-panel-width: 60px;

$dark-PFO: #292e4b;
$light-grey-PFO: #47c42b;
$greyish-brown-PFO: #4a4a4a;
$dark-grey-blue-PFO: #2b3151;
$powder-blue-PFO: #b7d7fc;
$mid-blue-PFO: #1c60af;
$grey-blue-PFO: #39506d;
$white: #f8f8f8;
$a9:#a9a9a9;

$button-grey:#5f6b7f;


$main-accent:#326fee;
$main-text:#1d1e54;
