<div *ngIf="(drivers) && (objects) && (data$|async)" class="report-result-wrapper">
  <span>
    <mat-slide-toggle
        [checked]="checkedHideEmpty"
        [color]="'primary'"
        (change)="emptyFilterToggle()">
    Hide empty rows
    </mat-slide-toggle>
    <mat-slide-toggle
      [checked]="checkedDrivers"
      [color]="'primary'"
      (change)="driverFilterToggle()">
    By driver
    </mat-slide-toggle>

  </span>


  <div class="table-wrapper">
    <table [dataSource]="data" mat-table matSort>
      <ng-container [matColumnDef]="'drivers'" sticky>
        <th *matHeaderCellDef class="border-right" mat-header-cell mat-sort-header>Driver</th>
        <td *matCellDef="let row" class="border-right" mat-cell>{{row['drivers']}}</td>
      </ng-container>

      <ng-container [matColumnDef]="'Object'" sticky>
        <th *matHeaderCellDef class="border-right" mat-header-cell mat-sort-header>Object</th>
        <td *matCellDef="let row" class="border-right" mat-cell>{{row['Object']}}</td>
      </ng-container>


      <ng-container *ngFor="let time of _displayedColumns; let i = index" [matColumnDef]="time">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>{{time|timeOfDay}}</th>
        <td *matCellDef="let row" mat-cell>
          <div [ngClass]="{'green':row[time].driving !== '-'}" class="sub-ceil">{{row[time].driving}}</div>
          <div [ngClass]="{'yellow':row[time].staying !== '-'}" class="sub-ceil">{{row[time].staying}}</div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row ></tr>
      <tr *matRowDef="let row; columns: displayedColumns" mat-row>
      </tr>
    </table>
  </div>

</div>


